<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MyHours</span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
  <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
</mat-toolbar>
<div [ngStyle]="{padding: '2%'}">
  <router-outlet></router-outlet>
</div>

