<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #loginForm=ngForm (ngSubmit)="login()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput name="email" placeholder="Email" 
            [(ngModel)]="user.email" required /> 
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput name="password" placeholder="Password" 
            [(ngModel)]="user.password" type="password" required />
          </mat-form-field>
        </mat-card-content>
        <label [hidden]="!error">{{error}}</label>
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
      </form>
    </mat-card>
  
  </div>