<div [ngStyle]="{display: 'flex', 'justify-content': 'space-between', 'align-items': 'center'}">
    <h2>{{status.title}}</h2>
    <button mat-button (click)="openDialogUpdate()" mat-mini-fab mat-fab color="primary">
        <mat-icon>edit</mat-icon>
    </button>
</div>