.example-card {
    max-width: 400px;
  }
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
  
.project-card {
  height: min-content;
  width: 100%;
  max-width: 300px;
  color: #fff;
  background-color: #64bc4c;
  padding: 3%;
}

.project-card-title {
  text-transform: uppercase !important;
  font-weight: bold;
}