<section>
  <div class="example-button-row" [ngStyle]="{'display': 'flex','justify-content': 'flex-end'}">
    <button mat-button (click)="openDialogAdd()" mat-raised-button color="primary">Create new project</button>
  </div>
</section>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
  <mat-card *ngFor="let project of projects" class="project-card" (click)="projectNavigate()">
    <mat-card-header>
      <mat-card-title class="project-card-title" fxLayout.gt-xs="row" fxLayout.xs="column">
        {{project.title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{project.description}}
      </p>
    </mat-card-content>
    <mat-card-actions [ngStyle]="{'display': 'flex','justify-content': 'flex-end'}">
      <button mat-button (click)="openDialogUpdate()" mat-mini-fab mat-fab color="primary"
       [ngStyle]="{'margin-right': '10px'}">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab mat-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>