<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Update project</mat-card-title>
    </mat-card-header>

    <form class="example-form" #projectForm=ngForm (ngSubmit)="update_project()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput name="title" placeholder="Title" 
          [(ngModel)]="project.title" required />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput name="description" placeholder="Description"
          [(ngModel)]="project.description" rows="4" required></textarea>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">
        Update
      </button>
    </form>
  </mat-card>
</div>