<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Update task</mat-card-title>
        </mat-card-header>
        <form class="example-form" #taskForm=ngForm (ngSubmit)="update_task()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput name="title" placeholder="Title" [(ngModel)]="task.title" required />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput name="status" placeholder="Task status" [(ngModel)]="task.status" required />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput name="description" placeholder="Description" [(ngModel)]="task.description"
                        rows="4" required></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput name="user" placeholder="User" [(ngModel)]="task.user" required />
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions [ngStyle]="{'display': 'flex','justify-content': 'space-between'}">
                <button mat-stroked-button color="primary" class="btn-block" type="submit"
                    [ngStyle]="{'margin-right': '10px'}">
                    Update
                </button>
                <button  mat-mini-fab mat-fab color="warn" >
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>