
<div [ngStyle]="{display: 'flex', 'justify-content': 'space-between'}">
    <p>{{task.name}}</p>
    <button mat-button (click)="openDialogUpdate()" mat-button mat-mini-fab mat-fab color="primary">
        <mat-icon>edit</mat-icon>
    </button>  
</div>
