<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Update task</mat-card-title>
        </mat-card-header>
        <mat-card-actions [ngStyle]="{'display': 'flex','justify-content': 'space-between'}">
            <button mat-stroked-button color="primary" class="btn-block" type="submit"
                [ngStyle]="{'margin-right': '10px'}">
                No
            </button>
            <button mat-mini-fab mat-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>