<section>
  <div class="example-button-row" [ngStyle]="{'display': 'flex','justify-content': 'flex-end'}">
    <button mat-button (click)="openDialogAddTaskStatus()" mat-raised-button color="primary">Create new task status</button>
  </div>
</section>
<div [ngStyle]="{'overflow-x': 'auto', 'width': '100%', 'white-space': 'nowrap'}">
  <div class="example-container" *ngFor='let board of boardList; let i=index'>
    <app-task-status [status]="board"></app-task-status>
    <div class="example-list" cdkDropList [id]="board.id" [cdkDropListData]="board.task"
      [cdkDropListConnectedTo]="boardIds" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of board.task" cdkDrag>
        <app-task [task]="item" [ngStyle]="{width: '100%'}"></app-task>
      </div>
      <p [ngStyle]="{'text-align': 'center'}" (click)="openDialogAddTask()" > Add new task</p>
    </div>
  </div>
</div>