<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Create new task status</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #projectForm=ngForm (ngSubmit)="create_task_status()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput name="name" placeholder="Name" 
            [(ngModel)]="taskStatus.name" required />
          </mat-form-field>
  
       
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" type="submit">
          Create new task status
        </button>
      </form>
    </mat-card>
  </div>