<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Create new task</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #taskForm=ngForm (ngSubmit)="create_task()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput name="title" placeholder="Title" 
            [(ngModel)]="task.title" required />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="status" placeholder="Task status" 
            [(ngModel)]="task.title" required />
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <textarea matInput name="description" placeholder="Description"
            [(ngModel)]="task.description" rows="4" required></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="user" placeholder="User" 
            [(ngModel)]="task.title" required />
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" type="submit">
          Create new task
        </button>
      </form>
    </mat-card>
  </div> 