<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #registerForm=ngForm (ngSubmit)="register()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput name="name" placeholder="Name" [(ngModel)]="user.name" required />
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput name="lastname" placeholder="Lastname" [(ngModel)]="user.lastname" required />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput name="email" placeholder="Email" [(ngModel)]="user.email" required />
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput name="password" placeholder="Password" [(ngModel)]="user.password" type="password" required />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput name="confirm_password" placeholder=" Confirm password" 
            [(ngModel)]="user.confirm_password" type="password" required />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput name="phone" placeholder="Phone" [(ngModel)]="user.phone" type="number" required />
          </mat-form-field>
  
        </mat-card-content>
        <label [hidden]="!error">{{error}}</label>
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Register</button>
  
      </form>
    </mat-card>
  </div>